* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Major Mono Display', monospace;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #002E26;
    background-image: url("C:\\Users\\elieb\\Desktop\\CSC443X-FinalProject-Fall2022\\linknet-webapp\\frontend\\assets\\background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}
.main-container {
    padding: 10rem 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-container {
    width: 30%;
    min-height: 60vh;
    height: auto;
    padding: 1rem;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0)
    ); 
    border-radius:2rem;
    backdrop-filter: blur(1rem);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.6) rgba(0, 84, 255,.2) rgba(0, 46, 38,.2);

}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    flex-grow: 3;
    width: 100%;
    color: white;
}
.text-container p{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}
.btn-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn-style {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(1, 21, 62, .9) ;
    width: 10rem;
    height: 4rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2) rgba(0, 84, 255,.2) rgba(0, 46, 38,.2);
}
a {
    text-decoration: none;
    color: white;
}

a :hover {
    background-color: rgba(1, 21, 62, .4) ;
}